* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//fonts
$brand: asdf;
$sans-font:  dunbar-low, sans-serif;
// font-weight: 300;
// font-style: normal;
$serif-font: asdf;

// color variables
$primary-color: #484c55;
$white: #ffffff;
$main: #8fabaa;

// margin variables
$vert-margin: 10em;


body {
    font-family: $sans-font;
    font-size: 16px;
    width: 100%;
    
    
}

h1 {}
h2 {
    font-size: 24px;
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
}

.main {
    display: grid;
    grid-template-columns: $vert-margin 1fr 1fr 1fr 1fr $vert-margin;
    grid-template-areas: 
                " . header header header header . "
                " . img-lg img-lg teaser teaser . ";
                // " . thumbs thumbs thumbs thumbs . "
                // " . favorites favorites favorites favorites . " ;

}


.header {
   grid-area: header;
}

.header__logo {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .125em;
    margin: 2em 0 2em 0;
}

.header__main-nav {

}

.header__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    list-style-type: none;
    padding: 0;
    margin: 0 0 3em 0;
}

.header__li {
    padding: 0 1.25em;
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  .img-lg {
      grid-area: img-lg;
  }

  .teaser {
      grid-area: teaser;
      background-color: $main;
      color: $white;
      text-align: center;
  }

  .auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr; 
    margin: 1em $vert-margin 0 $vert-margin;
    grid-gap: 1em;

}

.banner {
    display: grid;
    grid-column: 1 / -1;
    justify-items: center;
    padding: 4rem;
    margin: 1em $vert-margin 0 $vert-margin;
}
  .auto-fit__thumb { 
    display: block;
    width: 100%;
    object-fit: cover;
    height: 400px;
  }

//   .thumbs__thumb:first-of-type {
//     height: 100%;
//     width: 100%;
//       object-fit: cover;
//   }
//   .thumbs__thumb:nth-of-type(2) {
//     height: 100%;
//     width: 100%;
//       object-fit: cover;
  
// }
// .thumbs__thumb:nth-of-type(3) {
//     height: 100%;
//     width: 100%;
//       object-fit: cover;

// }
  



